*{
  padding: 0;
  margin: 0;
}

body{
  background: url('asset/background.jpg');
  background-size: cover;
}

.itemStyle{
  width: 115px;
  height: 115px;
  margin: 5px;
}

.itemStyle:hover{
  cursor: pointer;
}

.itemList{
  min-height: 130px;
  background-color: #E2E3E5;
}

.cat{
  min-height: 130px;
}

.parent {
    width: 120px;
    height: 120px;
    margin: 5px;
    overflow: hidden;
    /* Magic */
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}
